.sec1 {
    background-color: #93f282;
    width: 200px;
    height: 50px;
    border: 6px;
    border-top-style: double;
    border-top-color: #0d801a;
    border-left-style: solid;
    border-left-color: #0d801a;
    border-right-style: solid;
    border-right-color: #0d801a;
    border-bottom-style: dotted;
    border-bottom-color: #0d801a;
}

.sec2 {
    background-color: #93f282;
    width: 150px;
    height: 200px;
    margin-left: 25px;
    border: 6px;
    border-top-style: none;
    border-left-style: solid;
    border-left-color: #0d801a;
    border-right-style: solid;
    border-right-color: #0d801a;
    border-bottom-style: solid;
    border-bottom-color: #0d801a;
}

.bg {
    width: 1000px;
    height: 600px;
    background: url(Light-Wood-Background.jpg)
}

.tri-sec {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.bigsec {
    background: white;
    width: 250px;
    height: 400px;
    display: inline-block;
    margin: 100px 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    color: lightgray;
    
}

.smallsec {
    background: #4d3928;
    display: inline-block;
    height: 200px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: aliceblue;
}
.zero {
    text-align: left;
    margin-left: 60px;
}
.free {
    color: lightgray;
    line-height: 20px;
    margin: 30px;
    border-radius: 5px;
    border-color:lightgray;
    border-style:solid;
    padding: 5px;
    border-width: 1px;
    }
.under {
    list-style-type: none;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: .5px;
    margin: 18px 40px;
}